<h1>Users#follows</h1>
  <tr>
<% @users.each do |user| %>

    <th>イメージ画像</th>
    <th><%= image_tag user.get_profile_image, size: '50x50' %></th>
  <th>Name</th>
  <th><%= user.name %></th>
  <th>フォロー数</th>
  <th><%= user.followings.count %></th>
  <th>フォロワーー数</th>
  <th><%= user.followers.count %></th>
  <%= link_to 'Show', user, class: "user_#{user.id}" %>

<% end %>
  </tr>